body {
    background-color: #000;
    font-family: var(--font-dm-sans);
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 12px;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sidebar_navigation {
    background-color: var(--dark-pink);
    border-radius: 8px;
    padding: 16px 0 0 16px;
}

.logo {
    background: var(--dark-pink);
    display: flex;
    border-radius: 8px;
    padding: 16px 0 0 16px;
}

.sidebar_navigation .logo img {
    width: 80px;
}

.sidebar nav ul {
    margin-top: 20px;
    padding: 0 20px 10px 20px;
}

.sidebar ul li {
    padding: 10px 0px;
}

.sidebar nav ul li a {
    color: var(--shock-pink);
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
}

.sidebar nav ul li a:hover {
    color: #D9E4C1;
}

.sidebar_lib {
    background-color: var(--dark-pink);
    border-radius: 8px;
    padding: 16px 8px 0 8px;
    font-size: 14px;
}

.lib {
    width: 100%;
    display: flex;
    flex-direction: row;
    color: var(--shock-pink);
    font-size: 16px;
    font-weight: 600;
    padding: 16px 8px 16px 8px;
}

.lib_button {
    background-color: transparent;
    color: var(--shock-pink);
    font-size: 16px;
    font-weight: 600;
}

.lib_button:hover {
    color: #D9E4C1;
}

.lib_text {
    padding: 0px 100px 0px 15px;
}

.fa-plus:hover {
    color: #D9E4C1;
    cursor: pointer;
}

.own_playlist {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--medium-dark-pink);
    padding: 10px 16px 10px 16px;
    margin-top: 15px;
    border-radius: 8px;
    color: #f24cf5;
}

.create_text {
    font-weight: 600;
    cursor: default;
}

.easy_text {
    font-weight: 500;
    cursor: default;
}

.button_create {
    width: 100px;
    padding: 10px;
    border-radius: 100px;
    margin-top: 10px;
    background-color: var(--medium-pink);
}

.button_create:hover {
    background-color: #D9E4C1;
}

.cookies_portuguese {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 16px 10px 16px 10px;
    color: var(--medium-pink);
}

.cookies {
    margin-top: 15px;
    font-size: 12px;
    cursor: default;
}

.portuguese {
    width: 160px;
    padding: 10px;
    border-radius: 100px;
    border: var(--medium-pink) 1px solid;
    color: var(--medium-pink);
    background-color: var(--dark-pink);
}

.portuguese:hover {
    border: #D9E4C1 1px solid;
    color: #D9E4C1;
}

.disclaimer-premium {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to right, var(--dark-pink), var(--light-pink));
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
}

.disclaimer-premium .text {
    flex-shrink: 0;
}

.disclaimer-premium .disclaimer-premium_title {
    color: #D9E4C1;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 10px;
}

.disclaimer-premium .disclaimer-premium_subtitle {
    color: #D9E4C1;
    font-size: 14px;
    font-weight: 500;
}

.disclaimer-premium button {
    background-color: #D9E4C1;
    color: var(--dark-pink);
    font-size: 16px;
    font-weight: bold;
    padding: 14px 30px;
    border: 0px;
    border-radius: 40px;
    cursor: pointer;
    flex-shrink: 0;
}