:root {
    --font-dm-sans: "DM sans", sans-serif;

    --bg-icon: #131313;

    --dark-pink: #200B26;
    --medium-dark-pink: #580A59;
    --medium-pink: #EE05F2;
    --shock-pink: #A6059B;
    --light-pink: #F205E2;
}